{% extends "darts/base.tmpl" %}

{% block header %}
{{ block.super }}
<script type="text/javascript" charset="utf-8">
  $(function () {
  });
</script>
{% endblock header %}


{% block content %}

<table class="players">
  <tr>
    <th>Player</th>
    <th>Score</th>
    <th colspan="3">Last throws</th>
  </tr>
{% for p, score, throws in game.get_players_and_leg_score %}
  <tr class="{% ifequal p game.current_player %}current{% endifequal %}">
    <td class="player">
      <img class="avatar" src="{{p.avatar.url}}" />
      <span class="username">{{p.username}}</span>
    </td>
    <td class="score">{{score}}</td>
    <td class="throw">{{throws.0|default_if_none:'-'}}</td>
    <td class="throw">{{throws.1|default_if_none:'-'}}</td>
    <td class="throw">{{throws.2|default_if_none:'-'}}</td>
  <tr>
{% endfor %}
</table>

{% for table in game.score_tables %}
  <table class="score">
    {% for row in table %}
    <tr>
      {% for score in row %}
        <td class="score" data-code="{{score.code}}">
          {{score.label}}
        </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
{% endfor %}

{% endblock content %}


